<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="https://www.Neevsystems.com" target="_top">@copy rights Neevsystems pvt Ltd</a>
    </p>
    <p>
        <a href="https://Neevsystems.com" target="_top">Neevsystems.com</a>
    </p>
</div>